@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
  font-family: 'Robot', sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

.MuiToolbar-root a, .MuiToolbar-root button {
  color: inherit;
}

button {
  height: 3rem;
}
.errorMessage {
  font-size: 11px;
  font-weight: 500;
  color: red;
  margin-top: 1rem;

  span {
    display: block;
  }
}

